// $viewports:("mb": "0", "tb": "768px", "ds": "1024px");
$viewports:("xs": "0", "sm": "480px", "md": "768px", "lg": "1024px", "xl": "1500px");
$columns: 12;
$space: 10px;
$container-width: 0;
$padding:0;